.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;
}

.contact i {
    font-size: 1.5rem;
}

.fa-whatsapp {
    color: green;
}

.fa-facebook {
    color: blue;
}

.fa-envelope {
    color: brown;
}