.sidebar {
    position: fixed;
    width: 20%;
    height: 92%;
    margin: 2rem 1rem;
    text-align: center;
    background-color: rgb(50, 50, 50);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8) inset;
    border-radius: 20px;
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    color: white;
}

.sidebar-title hr {
    width: 80%;
    margin: 0 auto;
}

.title-box {
    width: 70%;
    margin: 0 auto;
}

.sidebar-list-container {
    height: 80%;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    list-style: none;
    font-size: 1.4rem;
    padding-left: 1.1rem;
}