.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
}

.table-body {
    width: 100%;
    height: 90%;
}


.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row td,
.row th {
    width: 6rem;
    text-align: left;
    word-wrap: break-word;
    padding: 0.2rem;
}

.td-row{
    border-bottom: 1px solid #42974A;
    transition: 0.3s;
}
.td-row:hover{
    border-bottom: 1px solid #ffffff;
    background-color: #F0FCF1;
}
.no-records {
    width: 90% !important;
    padding-top: 2rem !important;
}

.actions-field i {
    font-size: 1.1rem;
    padding: 0 0.5rem;
}

.fa-trash {
    color: brown;
}

.fa-pen-to-square {
    color: darkcyan;
}

.btn-edit, .btn-delete {
    background-color: transparent;
    cursor: pointer;
    padding: 0 0.1rem;
    border: none;
}

.btn-edit i:hover, .btn-delete i:hover{ 
    font-size: 1.3rem;
} 

