.sidebar-opt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
}
.sidebar-opt{
    font-weight: bold;
}
.sidebar-opt-btn {
    margin: auto;
    display: flex;
    gap: 8px;
    width: 90%;
    cursor: pointer;
    color: #0B0B0B;
    border: none;
    background-color: #F0FCF1;
    transition: 0.3s;
}

.sidebar-opt-btn:hover {
    background-color: #42974A;
    color: #fff;
}

.sidebar-opt, .sidebar-opt-icon {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.sidebar-opt-icon {
    width: 2.2rem;
    text-align: center;
}

.sidebar-opt-list {
    width: 100%;
}

.sidebar-sub-opt-container {
    padding: 0.5rem;
}

.sidebar-sub-opt-container ul {
    list-style: none;
    padding-left: 0.5rem;
}

.sidebar-sub-opt-container li {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0B0B0B;
    cursor: pointer;
    margin: auto;
    width: 90%;
    padding: 8px 0 8px 30px;
    transition: 0.3s;
}

.sidebar-sub-opt-container li:hover {
    background-color: #8FD096;
    color: #0B0B0B;
    margin: auto;
}