.sidebar-opt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.sidebar-opt-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border: none;
}

.sidebar-opt, .sidebar-opt-icon {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.sidebar-opt-icon {
    width: 2.2rem;
    text-align: center;
}

.sidebar-opt-list {
    width: 100%;
}

.sidebar-sub-opt-container {
    padding: 0.5rem;
}

.sidebar-sub-opt-container ul {
    list-style: none;
    padding-left: 0.5rem;
}

.sidebar-sub-opt-container li {
    font-size: 1.1rem;
    cursor: pointer;
    margin: 5px 0;
}