.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: space-evenly;
    width: 30%;
}

.fa-house {
    font-size: 1.2rem;
    color: black;
    opacity: 0.5;
}

.nav-right {
    justify-content: space-between;
    width: 35%;
}